## Preprocessing Data dan Regresi untuk Mendapatkan Model Terbaik pada Data Breast Cancer Combria

In [2]:
import pandas as pd
import numpy as np

In [8]:
data=pd.read_csv('Tugas3.csv')
data.head()

   Age     BMI  Glucose  Insulin  Leptin  Adiponectin
0   48  23.500       70    2.707    8.81     9.702400
1   83  20.690       92    3.115    8.84     5.429285
2   82  23.125       91    4.498   17.94    22.432040
3   68  21.368       77    3.226    9.88     7.169560
4   86  21.111       92    3.549    6.70     4.819240

In [6]:
data.describe()

              Age         BMI     Glucose     Insulin      Leptin  Adiponectin
count  116.000000  112.000000  116.000000  116.000000  113.000000   116.000000
mean    57.301724   27.445625   97.793103   10.012086   26.413805    10.180874
std     16.112766    4.933759   22.525162   10.067768   18.536835     6.843341
min     24.000000   18.370000   60.000000    2.432000    4.310000     1.656020
25%     45.000000   22.973250   85.750000    4.359250   12.450000     5.474282
50%     56.000000   27.468000   92.000000    5.924500   20.450000     8.352692
75%     71.000000   31.233000  102.000000   11.189250   37.220000    11.815970
max     89.000000   38.579000  201.000000   58.460000   90.280000    38.040000

In [9]:
np.sum(data.isnull())

Age            0
BMI            4
Glucose        0
Insulin        0
Leptin         3
Adiponectin    0
dtype: int64

### A. Mengatasi Missing Value Data Breast Cancer Combria

In [11]:
data['BMI']=data['BMI'].fillna((data['BMI'].median()))
data['Leptin']=data['Leptin'].fillna((data['Leptin'].median()))
np.sum(data.isnull())

Age            0
BMI            0
Glucose        0
Insulin        0
Leptin         0
Adiponectin    0
dtype: int64

In [13]:
datanomissing = data
datanomissing.head()

   Age     BMI  Glucose  Insulin  Leptin  Adiponectin
0   48  23.500       70    2.707    8.81     9.702400
1   83  20.690       92    3.115    8.84     5.429285
2   82  23.125       91    4.498   17.94    22.432040
3   68  21.368       77    3.226    9.88     7.169560
4   86  21.111       92    3.549    6.70     4.819240

In [15]:
datanomissing.to_excel('Tugas 3a.xlsx')

### B. Mengatasi Missing Value dan Outlier Data Breast Cancer Combria

In [18]:
from scipy import stats
z = np.abs(stats.zscore(datanomissing._get_numeric_data()))
print(z)
datanomissingoutlier=data[(z<3).all(axis=1)]
print(datanomissingoutlier.shape)

[[5.79793632e-01 8.17692755e-01 1.23922225e+00 7.28739376e-01
  9.56716829e-01 7.02215121e-02]
 [1.60182096e+00 1.39992432e+00 2.58299426e-01 6.88038191e-01
  9.55072003e-01 6.97349879e-01]
 [1.53948912e+00 8.95392697e-01 3.02886827e-01 5.50073144e-01
  4.56141447e-01 1.79799836e+00]
 [6.66843279e-01 1.25944283e+00 9.27110440e-01 6.76965074e-01
  8.98051368e-01 4.41944673e-01]
 [1.78881650e+00 1.31269319e+00 2.58299426e-01 6.44743303e-01
  1.07240292e+00 7.86880941e-01]
 [5.17461787e-01 4.47623114e-03 2.58299426e-01 6.76965074e-01
  3.18524338e-01 5.13499967e-01]
 [1.97581204e+00 9.83452631e-01 9.27110440e-01 5.30919646e-01
  1.05814777e+00 6.73782932e-01]
 [1.16549804e+00 7.55532801e-01 9.00972999e-01 3.53350750e-01
  1.20344073e+00 4.50622978e-01]
 [9.78502507e-01 1.12849252e+00 3.53624214e-02 6.64595106e-01
  1.19466832e+00 2.61016679e-02]
 [1.10316620e+00 9.21292678e-01 6.59586035e-01 5.04783100e-01
  5.00551749e-01 2.05189475e-01]
 [1.45243947e+00 1.23830844e+00 8.82523040e-01 6.52723927e-01
  6.40910235e-01 4.29882656e-01]
 [1.76409870e+00 9.19220679e-01 7.04173436e-01 4.33855300e-01
  5.11564521e-01 2.42730540e+00]
 [2.01342608e+00 9.50300656e-01 7.04173436e-01 5.90774330e-01
  3.18524338e-01 1.97968311e+00]
 [2.07575793e+00 1.81846801e+00 4.36649030e-01 3.89562834e-01
  9.52878901e-01 3.79805693e+00]
 [1.20311209e+00 8.50844730e-01 1.01628524e+00 4.21984121e-01
  6.03079237e-01 1.14020786e+00]
 [8.29121015e-01 1.38542033e+00 5.25823832e-01 2.45313046e-01
  6.67227451e-01 1.48803240e+00]
 [6.42125478e-01 1.12227653e+00 6.14998634e-01 7.12578611e-01
  2.14063707e-02 4.08864452e+00]
 [2.30520360e-01 9.51586724e-01 5.70411233e-01 8.04538109e-01
  2.47295809e-01 3.52318215e-01]
 [4.17515897e-01 1.46772154e+00 1.24537223e-01 5.57155949e-01
  2.76855412e-01 6.92457588e-01]
 [1.57710316e+00 4.47623114e-03 4.81236431e-01 4.00419235e-01
  1.26708793e+00 7.45676209e-01]
 [1.32777578e+00 2.34260860e-01 5.25823832e-01 5.65336089e-01
  6.10755092e-01 2.32011286e-01]
 [1.45243947e+00 9.38325934e-01 4.81236431e-01 5.46880895e-01
  1.36544191e-01 3.72497175e-01]
 [1.76409870e+00 9.99657088e-01 6.14998634e-01 4.19190902e-01
  1.06148468e+00 5.82824616e-01]
 [1.39010762e+00 5.86500597e-01 6.14998634e-01 5.62243597e-01
  7.10040193e-01 1.66235026e-01]
 [2.05802559e-01 6.29183765e-01 3.47474228e-01 4.46424784e-01
  7.63723910e-01 6.59683665e-02]
 [7.66789169e-01 4.47623114e-03 6.59586035e-01 3.24420986e-01
  7.52257394e-01 8.16543623e-01]
 [4.55129941e-01 2.30667371e+00 3.65924187e-01 3.30107181e-01
  1.11740877e+00 8.09129237e-01]
 [5.42179588e-01 8.28924416e-01 3.47474228e-01 7.65228373e-02
  1.08012604e+00 2.55931397e-02]
 [1.39010762e+00 1.61711263e+00 3.47474228e-01 3.18734791e-01
  1.33507408e+00 4.71688073e-01]
 [1.32777578e+00 1.39416559e+00 7.93348238e-01 3.41379813e-01
  8.76120354e-01 7.50678571e-01]
 [5.42179588e-01 1.81623168e+00 1.42987182e-01 5.50754250e-01
  2.65641764e+00 3.87644420e-01]
 [2.68134405e-01 1.93599319e+00 1.42987182e-01 1.62519226e-02
  5.04649635e-02 1.44547159e+00]
 [1.82643054e+00 1.74246853e+00 4.81236431e-01 1.43260810e-01
  2.31648693e+00 7.90555847e-01]
 [8.91452860e-01 1.44534396e+00 3.92061629e-01 1.31499880e+00
  2.71419924e-01 2.75899551e-01]
 [3.92798096e-01 5.02673970e-02 9.27110440e-01 6.14217414e-01
  3.38262250e-01 1.02568376e+00]
 [6.04511433e-01 4.47676700e-01 8.37935639e-01 4.18293082e-01
  2.39024414e-01 1.17212376e+00]
 [5.42179588e-01 7.85826848e-01 7.04173436e-01 5.81696369e-01
  5.50444805e-01 8.67913050e-01]
 [7.29175124e-01 1.58437505e+00 1.42987182e-01 4.35551183e-01
  3.18524338e-01 4.96624304e-01]
 [1.68188514e-01 2.27380396e-01 2.32161984e-01 4.86228148e-01
  1.07438333e-01 1.17212376e+00]
 [1.22782989e+00 1.68693898e+00 9.71697841e-01 6.11623711e-01
  2.45055443e-01 3.01642236e-01]
 [1.16549804e+00 4.47623114e-03 6.59586035e-01 4.62485790e-01
  1.26126960e-01 4.12533687e-01]
 [1.16549804e+00 5.10533274e-02 1.69124624e-01 4.04808579e-01
  5.28012781e-01 1.22434818e-01]
 [1.10316620e+00 3.03333429e-02 5.70411233e-01 4.80342438e-01
  8.70089326e-01 1.73188581e-01]
 [7.29175124e-01 1.04710585e+00 2.13712025e-01 4.57098869e-01
  6.09110266e-01 2.35858207e-01]
 [8.53838815e-01 5.91266193e-01 1.87574583e-01 1.66803652e-01
  1.65800825e+00 3.00989147e-01]
 [5.42179588e-01 5.25465953e-02 3.47474228e-01 3.96047091e-01
  7.72831898e-02 3.71133028e-01]
 [1.10316620e+00 3.61853095e-01 1.69124624e-01 1.92840440e-01
  2.17503189e+00 9.45092672e-01]
 [1.29016173e+00 4.44733033e-01 1.68509626e+00 6.48833373e-01
  1.07624085e+00 5.67116945e-02]
 [7.29175124e-01 4.04786332e-01 3.92061629e-01 6.90238022e-02
  1.04229505e+00 2.78050340e-01]
 [1.72648465e+00 1.75373235e-01 7.99498224e-02 5.53664426e-01
  1.00935126e+00 3.30091934e-01]
 [1.16549804e+00 7.17733119e-02 5.44273791e-01 1.61596811e+00
  2.45603718e-01 7.69798647e-01]
 [1.22782989e+00 3.20413126e-01 5.70411233e-01 5.41893004e-01
  6.86417088e-01 6.27572270e-02]
 [7.66789169e-01 1.27270362e+00 1.87574583e-01 3.83061377e-01
  1.02031677e+00 1.59614052e+00]
 [7.66789169e-01 1.37091634e+00 1.06087264e+00 5.43888160e-01
  1.01483401e+00 2.85226239e-01]
 [5.17461787e-01 1.34460196e+00 1.69124624e-01 2.28736050e-01
  8.23485922e-01 2.59576748e-01]
 [1.45243947e+00 6.63950470e-01 2.58299426e-01 1.16586088e+00
  5.21934487e-01 1.70872413e+00]
 [9.53784706e-01 1.26110042e+00 2.13712025e-01 6.99610096e-01
  3.93638059e-01 2.52130074e-01]
 [6.66843279e-01 1.31849478e+00 1.87574583e-01 3.80285358e-01
  9.07920324e-01 2.35730954e-01]
 [3.92798096e-01 1.72253448e+00 2.13712025e-01 5.63440691e-01
  8.32258327e-01 6.41824902e-01]
 [2.92852205e-01 9.92569424e-01 2.58299426e-01 6.51427076e-01
  8.99147918e-01 1.54886270e-01]
 [1.20311209e+00 1.02489260e+00 1.24537223e-01 4.73957938e-01
  9.77003016e-01 7.93825691e-01]
 [7.29175124e-01 1.22919165e+00 6.33448593e-01 3.32102337e-01
  3.46533645e-01 8.86857013e-01]
 [5.17461787e-01 1.25944283e+00 8.82523040e-01 7.35423149e-01
  1.09268911e+00 9.23823276e-01]
 [3.92798096e-01 9.43463061e-01 2.32161984e-01 7.25447368e-01
  1.00003058e+00 1.21973253e-01]
 [1.05856669e-01 9.55895052e-01 9.22497951e-03 3.14245690e-01
  6.22817149e-01 8.73343222e-01]
 [7.66789169e-01 8.92284699e-01 8.11798197e-01 5.09770991e-01
  4.52851795e-01 8.63862435e-01]
 [2.05802559e-01 6.68716066e-01 5.25823832e-01 6.26687140e-01
  9.63296133e-01 9.50374615e-01]
 [4.17515897e-01 1.08249416e+00 9.22497951e-03 4.30164261e-01
  7.71399765e-01 7.92055014e-01]
 [7.04457323e-01 1.37091634e+00 4.36649030e-01 6.57612060e-01
  7.34117042e-01 1.22826471e+00]
 [8.29121015e-01 1.63406015e+00 7.22623395e-01 5.86367786e-01
  7.22603260e-01 1.49537047e+00]
 [7.66789169e-01 1.48902025e+00 2.58299426e-01 6.55616904e-01
  1.02031677e+00 9.52353263e-01]
 [8.29121015e-01 5.60764947e-01 3.65924187e-01 4.83305761e+00
  4.44079390e-01 8.68699261e-01]
 [3.92798096e-01 1.88062796e+00 3.21336786e-01 3.97244185e-01
  9.12306527e-01 3.78516164e-01]
 [9.16170661e-01 7.92828774e-01 3.21336786e-01 5.57854253e-01
  2.45603718e-01 1.12699934e+00]
 [7.04457323e-01 1.08498056e+00 5.25823832e-01 2.68626961e+00
  8.82699658e-01 6.17680551e-02]
 [8.91452860e-01 1.83039629e-01 1.42987182e-01 5.41598891e-02
  9.02437570e-01 5.51907858e-01]
 [1.43470713e-01 9.38325934e-01 2.58299426e-01 6.60687352e-01
  6.00933401e-01 1.22924571e-01]
 [8.91452860e-01 7.88106046e-01 2.32161984e-01 5.67031972e-01
  2.62935836e-02 3.72493076e-01]
 [1.78881650e+00 1.61490845e-01 4.60172728e+00 3.15223833e+00
  1.17278458e+00 7.07938714e-01]
 [1.01611655e+00 1.60247646e-01 3.53624214e-02 1.19917999e+00
  1.01159163e+00 4.86365985e-01]
 [1.05856669e-01 2.54152045e-01 9.27110440e-01 6.80755871e-01
  5.06582778e-01 9.18668585e-01]
 [1.47715727e+00 8.68913986e-01 9.83997814e-02 3.42255274e-02
  6.88109179e-01 6.68719866e-02]
 [5.79793632e-01 1.03923226e+00 5.38123805e-02 1.86197086e+00
  1.08670535e+00 1.67148415e+00]
 [8.53838815e-01 4.01221066e-01 6.33448593e-01 3.81986401e-02
  3.94186334e-01 6.89011630e-01]
 [9.53784706e-01 3.83444748e-01 9.22497951e-03 5.82594189e-01
  3.18524338e-01 5.11505910e-01]
 [4.79847742e-01 4.60108691e-01 5.70411233e-01 4.62568349e-01
  1.42787913e-02 4.25315138e-01]
 [5.79793632e-01 1.40606530e-01 3.47474228e-01 7.45398929e-01
  5.88275803e-01 6.08121069e-03]
 [1.72648465e+00 5.02673970e-02 4.37879027e+00 4.17006722e+00
  2.44642818e+00 3.34496978e-01]
 [5.79793632e-01 7.88106046e-01 4.51255248e+00 2.14470684e-01
  4.45724216e-01 8.91835159e-01]
 [4.35248232e-02 3.54022370e-01 1.83730842e+00 6.55400188e-01
  1.84745156e-01 1.20030334e-02]
 [1.07844840e+00 7.02532510e-01 1.34684701e+00 3.18046978e+00
  2.62099243e-01 5.89963090e-01]
 [1.53948912e+00 7.81268451e-01 9.83997814e-02 8.04538109e-01
  2.95544039e-01 3.77505509e-02]
 [3.30466250e-01 6.95073316e-01 4.81236431e-01 2.01509909e+00
  1.65054509e-01 5.74179635e-01]
 [5.17461787e-01 1.03923226e+00 1.61437141e+00 1.48388877e+00
  8.84391749e-01 8.99744334e-02]
 [1.68188514e-01 7.84169249e-01 1.48060921e+00 2.00691895e+00
  6.34926472e-01 2.60713415e-01]
 [5.17461787e-01 4.83107874e-01 1.23922225e+00 1.61217215e-01
  1.37509818e+00 8.08458739e-02]
 [8.29121015e-01 9.15001662e-02 5.38123805e-02 8.02138762e-02
  7.44534274e-01 6.90175448e-01]
 [1.07844840e+00 3.92858052e-02 2.32161984e-01 7.56172773e-01
  6.54617119e-01 4.98549079e-01]
 [8.53838815e-01 9.73017618e-02 2.76749385e-01 8.16808319e-01
  1.49352565e+00 1.25111956e+00]
 [7.29175124e-01 2.06703280e-01 4.55098989e-01 1.20116999e-01
  6.31041279e-01 7.18081395e-01]
 [1.04083435e+00 2.49386448e-01 4.36649030e-01 6.98313245e-01
  2.66485446e-01 3.71108812e-01]
 [5.42179588e-01 1.83039629e-01 3.92061629e-01 3.47963829e-01
  6.22268874e-01 2.56966596e-01]
 [4.79847742e-01 7.18901298e-01 3.53624214e-02 4.77753895e-02
  9.73760629e-01 9.49661355e-01]
 [9.16170661e-01 3.50085573e-01 6.59586035e-01 9.34644648e-02
  3.01787760e-02 1.08544207e+00]
 [1.88070224e-02 1.53153909e+00 1.24537223e-01 2.52977197e-01
  3.78333614e-01 1.14707599e+00]
 [9.78502507e-01 2.00208994e+00 1.61437141e+00 4.36548761e-01
  8.30660767e-01 1.00461249e+00]
 [7.66789169e-01 4.01678335e-01 3.47474228e-01 5.28625216e-01
  1.32110723e-01 5.19040641e-01]
 [7.04457323e-01 1.18800175e+00 2.58299426e-01 4.25176371e-01
  4.15020797e-01 1.49824899e-01]
 [6.66843279e-01 1.68113738e+00 1.48060921e+00 1.85757635e-01
  4.59979374e-01 2.52301355e-01]
 [1.10316620e+00 6.28562165e-01 2.41694463e+00 2.99481535e-01
  1.33068787e+00 1.77396332e-02]
 [2.05802559e-01 1.78266530e+00 9.45560399e-01 1.89331717e-01
  3.45470652e+00 3.18600516e-01]
 [7.66789169e-01 1.23573273e-01 2.58299426e-01 6.66590262e-01
  1.55822214e+00 2.81653636e-01]
 [2.92852205e-01 1.25645272e-01 9.83997814e-02 5.46880895e-01
  7.57144606e-01 1.64946994e+00]
 [4.79847742e-01 9.53865922e-01 3.53624214e-02 4.27171527e-01
  1.93104937e+00 1.81384272e+00]
 [9.16170661e-01 3.84645078e-01 7.04173436e-01 7.17466744e-01
  7.12521611e-02 3.45903808e+00]
 [1.78881650e+00 5.51973243e-02 1.79272102e+00 9.87394168e-01
  3.51008233e+00 5.76644063e-01]]
(106, 6)

In [20]:
datanomissoutlier.head(10)

   Age     BMI  Glucose  Insulin  Leptin  Adiponectin
0   48  23.500       70    2.707    8.81     9.702400
1   83  20.690       92    3.115    8.84     5.429285
2   82  23.125       91    4.498   17.94    22.432040
3   68  21.368       77    3.226    9.88     7.169560
4   86  21.111       92    3.549    6.70     4.819240
5   49  27.468       92    3.226   20.45    13.679750
6   89  22.700       77    4.690    6.96     5.589865
7   76  23.800      118    6.470    4.31    13.251320
8   73  22.000       97    3.350    4.47    10.358725
9   75  23.000       83    4.952   17.13    11.578990

In [22]:
datanomissingoutlier.to_excel('Tugas 3b.xlsx')

### C. Mengatasi Missing Value dan Melakukan Transformasi Data Breast Cancer Combria

In [27]:
x = data.iloc[0:106,0:6]
x.head()

   Age     BMI  Glucose  Insulin  Leptin  Adiponectin
0   48  23.500       70    2.707    8.81     9.702400
1   83  20.690       92    3.115    8.84     5.429285
2   82  23.125       91    4.498   17.94    22.432040
3   68  21.368       77    3.226    9.88     7.169560
4   86  21.111       92    3.549    6.70     4.819240

In [29]:
#normalization
from sklearn.preprocessing import normalize
xnorm = normalize(x,norm='l2') #default norm L2 and max
xnorm = pd.DataFrame(xnorm)
xnorm.tail()

            0         1         2         3         4         5
101  0.571894  0.230170  0.771191  0.056531  0.129196  0.073046
102  0.503719  0.239584  0.751703  0.081300  0.341134  0.028751
103  0.613609  0.248307  0.707355  0.093311  0.228484  0.023734
104  0.469326  0.286848  0.782209  0.103317  0.273032  0.019472
105  0.449116  0.228305  0.824405  0.034674  0.254766  0.020522

In [31]:
def softmax(x):
    return np.exp(x)/np.sum(np.exp(x), axis = 0)
xsoft = softmax(xnorm)
xsoft = pd.DataFrame(xsoft)
print(xsoft)

            0         1         2         3         4         5
0    0.010041  0.009768  0.009332  0.008952  0.008475  0.009650
1    0.011315  0.008841  0.008822  0.008901  0.008234  0.009035
2    0.011117  0.008989  0.008658  0.008994  0.008832  0.010312
3    0.011148  0.009185  0.008813  0.008953  0.008429  0.009262
4    0.011470  0.008849  0.008726  0.008928  0.008089  0.008986
5    0.009123  0.009618  0.009770  0.008941  0.009236  0.009793
6    0.012278  0.009062  0.008067  0.009029  0.008134  0.009066
7    0.009961  0.008860  0.009696  0.009085  0.007911  0.009493
8    0.010558  0.008961  0.009302  0.008922  0.007959  0.009409
9    0.011173  0.009146  0.008689  0.009062  0.008897  0.009561
10   0.008548  0.009525  0.010119  0.009025  0.009026  0.010011
11   0.007817  0.009433  0.009614  0.009187  0.010938  0.011289
12   0.007640  0.009565  0.010160  0.009069  0.009539  0.011127
13   0.007440  0.009036  0.010215  0.009228  0.008387  0.012393
14   0.008912  0.009709  0.009735  0.009256  0.009086  0.010551
15   0.009013  0.009195  0.009871  0.009350  0.008812  0.010559
16   0.009011  0.009181  0.009181  0.008915  0.009800  0.012262
17   0.009941  0.009906  0.008886  0.010157  0.010024  0.009258
18   0.009912  0.009965  0.009283  0.009006  0.009138  0.009051
19   0.007845  0.009641  0.009408  0.009870  0.012046  0.009066
20   0.008423  0.010010  0.010125  0.009073  0.008942  0.009438
21   0.008144  0.010228  0.009880  0.009074  0.010143  0.009319
22   0.007715  0.010194  0.009442  0.009176  0.011839  0.009180
23   0.008200  0.010036  0.009531  0.009057  0.011188  0.009440
24   0.009548  0.009886  0.009599  0.009130  0.008583  0.009450
25   0.008940  0.009712  0.009274  0.009253  0.011176  0.009038
26   0.008552  0.010047  0.009484  0.009136  0.010926  0.008965
27   0.009912  0.009640  0.008712  0.009348  0.011072  0.009398
28   0.007942  0.010195  0.009302  0.009214  0.011921  0.009195
29   0.008555  0.010749  0.009866  0.009307  0.008554  0.009128
..        ...       ...       ...       ...       ...       ...
76   0.009280  0.009804  0.009180  0.009980  0.010481  0.009490
77   0.008396  0.009746  0.010070  0.009004  0.009525  0.009626
78   0.008526  0.008429  0.010222  0.010412  0.009451  0.008859
79   0.008238  0.009366  0.009526  0.010430  0.011133  0.009682
80   0.010335  0.009887  0.008921  0.008954  0.009043  0.010137
81   0.010499  0.009424  0.008740  0.009310  0.010153  0.009343
82   0.008506  0.009656  0.009177  0.010851  0.010981  0.010233
83   0.009841  0.009040  0.009639  0.009369  0.008824  0.009008
84   0.008503  0.009730  0.010145  0.009011  0.009204  0.009184
85   0.010293  0.009704  0.008887  0.009860  0.009662  0.009218
86   0.009157  0.009748  0.009827  0.008892  0.008871  0.009518
87   0.008441  0.008451  0.009871  0.010849  0.010410  0.008953
88   0.007377  0.008718  0.011057  0.009206  0.008375  0.008826
89   0.008490  0.009042  0.010347  0.009656  0.008887  0.009241
90   0.007686  0.009251  0.010142  0.011541  0.009478  0.009024
91   0.010599  0.009403  0.008764  0.009897  0.009651  0.009298
92   0.009239  0.009827  0.009113  0.011315  0.009921  0.009143
93   0.008041  0.009255  0.010111  0.010199  0.010096  0.009279
94   0.008619  0.009174  0.009881  0.010542  0.009794  0.009135
95   0.009345  0.009966  0.008287  0.009407  0.012522  0.009586
96   0.008644  0.009602  0.010206  0.009420  0.008588  0.009084
97   0.008295  0.009541  0.010413  0.008869  0.008695  0.009180
98   0.009699  0.009148  0.008900  0.009882  0.011225  0.008756
99   0.009861  0.009300  0.009609  0.009281  0.008581  0.009006
100  0.010703  0.009475  0.008708  0.008900  0.009891  0.009211
101  0.010379  0.009445  0.009196  0.009189  0.008736  0.009310
102  0.009695  0.009535  0.009019  0.009419  0.010798  0.008907
103  0.010821  0.009618  0.008627  0.009533  0.009647  0.008862
104  0.009367  0.009996  0.009298  0.009629  0.010087  0.008824
105  0.009180  0.009428  0.009699  0.008990  0.009904  0.008834

[106 rows x 6 columns]

In [33]:
xsoft.to_excel('Tugas 3c.xlsx')

### D. Mengatasi Missing Value, Outlier, dan Melakukan Transformasi Data Breast Cancer Combria

In [35]:
xx = datanomissingoutlier.iloc[0:106,0:6]
xx.head()

   Age     BMI  Glucose  Insulin  Leptin  Adiponectin
0   48  23.500       70    2.707    8.81     9.702400
1   83  20.690       92    3.115    8.84     5.429285
2   82  23.125       91    4.498   17.94    22.432040
3   68  21.368       77    3.226    9.88     7.169560
4   86  21.111       92    3.549    6.70     4.819240

In [37]:
from sklearn.preprocessing import normalize
xxnorm = normalize(xx,norm='l2') #default norm L2 and max
xxnorm = pd.DataFrame(xxnorm)
xxnorm.tail()

            0         1         2         3         4         5
101  0.442859  0.231589  0.853155  0.053078  0.116381  0.077500
102  0.416913  0.169434  0.844945  0.038968  0.280888  0.055922
103  0.375557  0.224082  0.767805  0.027791  0.456343  0.100983
104  0.502907  0.217710  0.811141  0.036745  0.100987  0.173746
105  0.471785  0.232626  0.704048  0.041590  0.446236  0.163600

In [39]:
def softmax(xx):
    return np.exp(xx)/np.sum(np.exp(xx), axis = 0)
xxsoft = softmax(xxnorm)
xxsoft = pd.DataFrame(xxsoft)
print(xxsoft)

            0         1         2         3         4         5
0    0.009974  0.009725  0.009362  0.009044  0.008430  0.009678
1    0.011239  0.008802  0.008851  0.008993  0.008190  0.009061
2    0.011042  0.008949  0.008687  0.009087  0.008785  0.010342
3    0.011073  0.009144  0.008842  0.009045  0.008384  0.009289
4    0.011392  0.008810  0.008755  0.009020  0.008046  0.009012
5    0.009062  0.009576  0.009802  0.009033  0.009186  0.009822
6    0.012195  0.009022  0.008094  0.009122  0.008091  0.009092
7    0.009894  0.008821  0.009728  0.009179  0.007869  0.009521
8    0.010487  0.008921  0.009333  0.009014  0.007916  0.009436
9    0.011098  0.009106  0.008718  0.009156  0.008849  0.009589
10   0.008491  0.009483  0.010152  0.009118  0.008978  0.010041
11   0.007765  0.009392  0.009646  0.009282  0.010879  0.011322
12   0.007588  0.009523  0.010193  0.009163  0.009488  0.011160
13   0.008852  0.009666  0.009767  0.009352  0.009037  0.010582
14   0.008952  0.009154  0.009904  0.009447  0.008765  0.010590
15   0.009874  0.009862  0.008915  0.010262  0.009970  0.009285
16   0.009845  0.009921  0.009313  0.009099  0.009090  0.009078
17   0.007792  0.009598  0.009439  0.009972  0.011982  0.009093
18   0.008366  0.009966  0.010158  0.009167  0.008894  0.009466
19   0.008089  0.010183  0.009913  0.009167  0.010089  0.009346
20   0.007664  0.010149  0.009473  0.009271  0.011775  0.009206
21   0.008144  0.009992  0.009562  0.009150  0.011129  0.009468
22   0.009484  0.009842  0.009631  0.009224  0.008537  0.009478
23   0.008880  0.009669  0.009305  0.009349  0.011116  0.009064
24   0.008495  0.010003  0.009516  0.009230  0.010867  0.008991
25   0.009846  0.009598  0.008741  0.009444  0.011013  0.009426
26   0.007889  0.010150  0.009333  0.009309  0.011857  0.009221
27   0.008498  0.010702  0.009898  0.009403  0.008508  0.009154
28   0.009103  0.009549  0.008463  0.009748  0.012673  0.009135
29   0.008894  0.010028  0.009577  0.009518  0.009492  0.010189
..        ...       ...       ...       ...       ...       ...
76   0.010265  0.009843  0.008951  0.009047  0.008995  0.010167
77   0.010429  0.009382  0.008769  0.009406  0.010099  0.009370
78   0.008449  0.009613  0.009207  0.010963  0.010923  0.010263
79   0.009775  0.009001  0.009671  0.009466  0.008777  0.009034
80   0.008446  0.009687  0.010178  0.009104  0.009155  0.009211
81   0.010224  0.009662  0.008916  0.009962  0.009610  0.009245
82   0.009096  0.009705  0.009859  0.008983  0.008823  0.009546
83   0.008433  0.009002  0.010382  0.009755  0.008840  0.009268
84   0.010528  0.009362  0.008793  0.009999  0.009600  0.009325
85   0.009177  0.009784  0.009143  0.011432  0.009868  0.009169
86   0.007987  0.009214  0.010144  0.010304  0.010042  0.009306
87   0.008561  0.009133  0.009914  0.010651  0.009741  0.009162
88   0.009282  0.009922  0.008315  0.009504  0.012455  0.009614
89   0.008586  0.009559  0.010240  0.009518  0.008542  0.009110
90   0.008239  0.009499  0.010448  0.008961  0.008648  0.009207
91   0.009634  0.009108  0.008930  0.009984  0.011165  0.008782
92   0.009795  0.009259  0.009640  0.009377  0.008535  0.009033
93   0.010631  0.009433  0.008737  0.008991  0.009838  0.009237
94   0.010309  0.009404  0.009226  0.009284  0.008689  0.009337
95   0.009630  0.009493  0.009048  0.009517  0.010740  0.008933
96   0.010748  0.009576  0.008656  0.009632  0.009596  0.008888
97   0.009304  0.009952  0.009329  0.009728  0.010033  0.008850
98   0.009118  0.009386  0.009731  0.009083  0.009851  0.008859
99   0.008833  0.009811  0.009832  0.009166  0.009526  0.009231
100  0.008833  0.010094  0.009832  0.009243  0.009047  0.009432
101  0.009061  0.009417  0.010015  0.009252  0.008578  0.009379
102  0.008829  0.008850  0.009933  0.009122  0.010112  0.009179
103  0.008471  0.009347  0.009195  0.009021  0.012052  0.009602
104  0.009622  0.009287  0.009603  0.009102  0.008447  0.010326
105  0.009327  0.009427  0.008627  0.009146  0.011930  0.010222

[106 rows x 6 columns]

In [40]:
xxsoft.to_excel('Tugas 3d.xlsx')